<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Home</title>
</head>
<body>
    <%- include('../partials/header') %>
    <h1>This is the homepage</h1>
    <a href="/views/main/movies.ejs">Click here for movies</a>
    <a href="/views/main/random.ejs">Click here for random booty calls</a>
    <%- include('../partials/footer') %>
</body>
</html>