<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Home</title>
</head>
<body>
    <h1>This is the homepage</h1>
    <%- include('../partials/footer') %>
</body>
</html>