<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Popular Movies</title>
</head>
<body>
    <header>Popular movies</header>
    <h3>Here's whats coming soon</h3>
    <%- include('../partials/footer') %>
</body>
</html>