<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Random Users</title>
</head>
<body>
    <header>New movies to rot your brain</header>
    <h3>Here's whats coming soon</h3>
    <%- include('../partials/footer') %>
</body>
</html>