<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Random Users</title>
</head>
<body>
    <header>Random People</header>
    <h3>This is the Random Users</h3>
    <%- include('../partials/footer') %>
</body>
</html>