<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Random Users</title>
</head>
<body>
    <header>This is the Random Header</header>
    <h1>This is the Random Users</h1>
    <%- include('../partials/footer') %>
</body>
</html>